<html>
  <head>
    <meta charset="utf-8" />

    <title>{{ title }}</title>

    <link rel='stylesheet' href='static/css/dependencies/jquery-ui.min.css' />
    <link rel='stylesheet' href='static/css/dependencies/bootstrap.min.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.1.0/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.6/MarkerCluster.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.6/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="static/css/routes.css" />
    <link rel="stylesheet" href="static/css/dates.css" />
  </head>
  <body>
    <div id="header">
      <h4>Matka.fi GTFS reittien haku</h4>
      <button onclick="location.href='/';" class="btn btn-primary btn-sm">Siirry takaisin</button>

      <br />
      <br />

      <input placeholder="Syötä reitin tunnus" type="text" id="route_id">
      <input placeholder="Syötä reitin lyhyt nimi" type="text" id="route_short">
      <button id="applyFilter" class="btn btn-primary btn-sm">Hae</button>
      <button id="showMap" class="btn btn-primary btn-sm">Piilota kartta</button>

      <br />
      <br />
    </div>

    <div id="tableDiv">
      <table class="table">
        <thead>
          <th>Tunnus</th>
          <th>Reitin tarjoaja</th>
          <th>Reitin lyhyt nimi</th>
          <th>Reitin pitkä nimi</th>
          <th>Linkki tarjoajan sivuille</th>
        </thead>
        <tbody id="tableContent">
        </tbody>
      </table>
    </div>

    <div id="map"></div>

    <div id="loading">
      <div id="loadingDiv">
        <h4>Haetaan aineistoja...<h4>
      </div>
    </div>

    <div class="modal fade" id="tripModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content" id="tripModalFlow">
          <div class="modal-header">
            <h3 class="modal-title">Reitin matkat</h5>
          </div>
          <div class="modal-body" id="tripModalBody">
            <table class="table">
              <thead>
                <th>Tunnus</th>
                <th>Päämäärä</th>
                <th>Palvelutunnus</th>
                <th>Pysäkit</th>
                <th>Päivämäärät</th>
              </thead>
              <tbody id="tripTable">
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulje</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="calendarModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content" id="calendarModalFlow">
          <div class="modal-header">
            <h3 class="modal-title">Reitin ajat</h5>
          </div>
          <div class="modal-body" id="calendarModalBody">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulje</button>
          </div>
        </div>
      </div>
    </div>

    <script src='static/js/dependencies/jquery-2.2.4.min.js'></script>
    <script src='static/js/dependencies/bootstrap.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.1.0/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.6/leaflet.markercluster.js"></script>
    <script src='static/js/map.js'></script>
    <script src='static/js/routes.js'></script>
    <script src="static/js/dates.js"></script>
  </body>
</html>
