<html>
  <head>
    <meta charset="utf-8" />

    <title>{{ title }}</title>

    <link rel='stylesheet' href='static/css/jquery-ui.min.css' />
    <link rel='stylesheet' href='static/css/bootstrap.min.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.1.0/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.6/MarkerCluster.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.6/MarkerCluster.Default.css" />

    <style>
      #header {
        margin: 5px;
      }

      #tableDiv {
        margin: 5px;
      }

      #tripModalFlow {
        height: 600px;
        width: 850px;
        margin-left: -110px;
      }

      #tripModalBody {
        height: 465px;
        overflow-y: auto;
      }

      #calendarModalFlow {
        height: 435px;
        width: 1200px;
        margin-left: -300px;
        overflow-y: auto;
      }

      #map {
        position: absolute;
        width: 100%;
        height: calc(100% - 130px);
        bottom: 0px;
      }

      #loading {
        position: fixed;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        z-index: 1000;
      }

      #loadingDiv {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        width: 220px;
        border: 1px solid;
        color: white;
        background-color: #337ab7;
        border-radius: 15px;
        border: 1px solid #2e6da4;
        padding: 20px;
      }

      #calendarModalBody {
        position: relative;
        width: 100%;
        height: 300px;
      }

      #calendarTable {
        margin: 5px 0 20px 0;
      }

      #calendarTable tr {
        display: inline-block;
      }

      #headInfo {
        width: 85px !important;
      }

      #bodyInfo {
        width: 85px !important;
      }

      [id^=calendarHead] th {
        display: inline-block;
        width: 25px;
        height: 25px;
        background-color: lightgrey;
        margin: 1px;
        font-size: 14px;
        text-align: center;
        line-height: 25px;
        vertical-align: middle;
      }

      [id^=calendarBody] td {
        display: inline-block;
        width: 25px;
        height: 25px;
        background-color: lightgrey;
        margin: 1px;
        font-size: 14px;
        text-align: center;
        line-height: 25px;
        vertical-align: middle;
      }

      #markedDate {
        background-color: #6af76c !important;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <h4>Matka.fi GTFS reittien haku</h4>
      <button onclick="location.href='/';" class="btn btn-primary btn-sm">Siirry takaisin</button>
      <button id="showMap" class="btn btn-primary btn-sm">Vaihda näkymää</button>

      <br />
      <br />

      <input placeholder="Syötä reitin tunnus" type="text" id="route_id">
      <input placeholder="Syötä reitin tarjoaja" type="text" id="route_provider">
      <input placeholder="Syötä reitin lyhyt nimi" type="text" id="route_short">
      <input placeholder="Syötä reitin nimi" type="text" id="route_long">
      <button id="applyFilter" class="btn btn-primary btn-sm">Suodata</button>

      <br />
      <br />
    </div>

    <div id="tableDiv">
      <table class="table">
        <thead>
          <th>Tunnus</th>
          <th>Reitin tarjoaja</th>
          <th>Reitin lyhyt nimi</th>
          <th>Reitin pitkä nimi</th>
          <th>Linkki tarjoajan sivuille</th>
        </thead>
        <tbody id="tableContent">
        </tbody>
      </table>
    </div>

    <div id="map"></div>

    <div id="loading">
      <div id="loadingDiv">
        <h4>Haetaan aineistoja...<h4>
      </div>
    </div>

    <div class="modal fade" id="tripModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content" id="tripModalFlow">
          <div class="modal-header">
            <h3 class="modal-title">Reitin matkat</h5>
          </div>
          <div class="modal-body" id="tripModalBody">
            <table class="table">
              <thead>
                <th>Tunnus</th>
                <th>Päämäärä</th>
                <th>Palvelutunnus</th>
                <th>Pysäkit</th>
                <th>Päivämäärät</th>
              </thead>
              <tbody id="tripTable">
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulje</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="calendarModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content" id="calendarModalFlow">
          <div class="modal-header">
            <h3 class="modal-title">Reitin ajat</h5>
          </div>
          <div class="modal-body" id="calendarModalBody">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Sulje</button>
          </div>
        </div>
      </div>
    </div>

    <script src='static/js/jquery-2.2.4.min.js'></script>
    <script src='static/js/bootstrap.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.1.0/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.6/leaflet.markercluster.js"></script>

    <script>
      var LAT = 65.304401;
      var LON = 24.301758;
      var ZOOM = 5;
      var TIMEOUT = 30000;

      var map = L.map('map').setView([51.505, -0.09], 13);

      L.tileLayer('http://api.digitransit.fi/map/v1/{id}/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
          '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ',
        id: 'hsl-map'
      }).addTo(map);

      map.panTo(new L.LatLng(LAT, LON));
      map.setZoom(ZOOM);

      var markers = L.markerClusterGroup({
        showCoverageOnHover: false,
        zoomToBoundsOnClick: true,
        spiderfyOnMaxZoom: false
      });
      var polyline = L.polyline({ });
      var startEndMarkers = L.layerGroup();

      $("#map").hide();
      $('#loading').hide();

      $("#showMap").click(function() {
        $("#map").toggle("fast", function() {
          if ($("#map").is(':hidden')) {
            $("#tableDiv").show();
          } else {
            $("#tableDiv").hide();
          }
        });
      });

      jQuery.ajaxSetup({
        beforeSend: function() {
          $('#loading').show();
        },
        complete: function() {
          $('#loading').hide();
        },
        success: function() {}
      });

      $('#applyFilter').click(function() {
        getRoutes();
      })

      function getRoutes() {
        if (!$('#route_id').val().trim() && !$('#route_provider').val().trim() && !$('#route_short').val().trim() && !$('#route_long').val().trim()) {
          alert('Rajaa kyselyä!');
          map.panTo(new L.LatLng(LAT, LON));
          map.setZoom(ZOOM);
          markers.clearLayers();
          map.removeLayer(polyline);

        } else {
          $.ajax({
            url: "/routes",
            type: "POST",
            data: {
              routeName: $('#route_long').val(),
              routeID: $('#route_id').val(),
              routeProvider: $('#route_provider').val(),
              routeShort: $('#route_short').val()
            },
            timeout: TIMEOUT,
            cache: false,

            success: (res) => {
              $('#tableDiv').show();
              $("#map").hide();
              $('#tableContent').empty();

              console.log('Kysely onnistui!');
              response = JSON.parse("[" + res + "]");
              console.log(response);

              if (response[0].length !== 0) {
                for (i = 0; i < response[0].length; i++) {
                  $("#tableContent").append(
                    `<tr>
                      <td><a onclick="getTrips(${response[0][i].route_id});">${response[0][i].route_id}</a></td>
                      <td>${response[0][i].agency_name}</td>
                      <td>${response[0][i].route_short_name}</td>
                      <td>${response[0][i].route_long_name}</td>
                      <td><a href="${response[0][i].agency_url}" target="_blank">${response[0][i].agency_name}</a></td>
                    </tr>`
                  )
                }
              }
            },

            error: (jqXHR, textStatus) => {
              if (textStatus === "timeout") {
                  alert("Pyynnössä kesti liian kauan");
              } else {
                  alert("Tietojen hakemisessa tapahtui virhe");
              }
            }
          });
        }
      }

      function getTrips(route_id) {
        $.ajax({
          url: "/trips",
          type: "POST",
          data: { routeID: route_id },
          timeout: TIMEOUT,
          cache: false,

          success: (res) => {
            $('#tripModal').modal('show');
            $('#tripTable').empty();

            console.log('Kysely onnistui!');
            response = JSON.parse("[" + res + "]");
            console.log(response);

            if (response[0].length !== 0) {
              for (i = 0; i < response[0].length; i++) {
                $("#tripTable").append(
                  `<tr>
                    <td>${response[0][i].trip_id}</td>
                    <td>${response[0][i].trip_headsign}</td>
                    <td>${response[0][i].service_id}</td>
                    <td><a onclick="getStops('${response[0][i].trip_id}', '${response[0][i].trip_headsign}');">Pysäkit</a></td>
                    <td><a onclick="getDates('${response[0][i].trip_id}');">Päivämäärät</a></td>
                  </tr>`
                )
              }
            }
          },

          error: (jqXHR, textStatus) => {
            if (textStatus === "timeout") {
                alert("Pyynnössä kesti liian kauan");
            } else {
                alert("Tietojen hakemisessa tapahtui virhe");
            }
          }
        });
      }

      function getStops(trip_id, trip_headsign) {
        $('#tripModal').modal('hide');

        markers.clearLayers();
        startEndMarkers.clearLayers();
        map.removeLayer(polyline);

        $.ajax({
          url: "/tripStops",
          type: "POST",
          data: { tripID: trip_id },
          timeout: TIMEOUT,
          cache: false,

          success: (res) => {
            $('#tableDiv').hide();

            console.log('Kysely onnistui!');
            response = JSON.parse("[" + res + "]");
            console.log(response);
            var latlngs = Array();

            if (response[0].length !== 0) {
              for (i = 0; i < response[0].length; i++) {
                var aHours = 0; var dHours = 0;
                var aMinutes = 0; var dMinutes = 0;
                var newIcon = null;

                if (response[0][i].arrival_time !== null) {
                  aMinutes = response[0][i].arrival_time / 60;
                  aHours = Math.floor(aMinutes / 60);
                  if (aHours >= 24) { aHours = aHours - 24; }
                  aMinutes = Math.ceil((aMinutes / 60 - Math.floor(aMinutes / 60)) * 60)
                  if (aMinutes < 10 ) { aMinutes = '0' + aMinutes.toString() }
                } else {
                  aHours = '-'; aMinutes = '-';
                }

                if (response[0][i].departure_time !== null) {
                  dMinutes = response[0][i].departure_time / 60;
                  dHours = Math.floor(dMinutes / 60);
                  if (dHours >= 24) { dHours = dHours - 24; }
                  dMinutes = Math.ceil((dMinutes / 60 - Math.floor(dMinutes / 60)) * 60)
                  if (dMinutes < 10) { dMinutes = '0' + dMinutes.toString(); }
                } else {
                  dHours = '-'; dMinutes = '-';
                }

                var dec = (response[0][i].shape_dist_traveled / 1000 - Math.floor(response[0][i].shape_dist_traveled / 1000)).toString().substring(1, 5);
                var distance = Math.floor(Math.floor(response[0][i].shape_dist_traveled / 1000)).toString() + dec;

                if (i === 0) {
                  newIcon = new L.Icon({
                  	iconUrl: '../static/img/marker-icon-green.png',
                  	iconSize: [25, 41],
                  	iconAnchor: [12, 41],
                  	popupAnchor: [1, -34],
                  	shadowSize: [41, 41]
                  });
                } else if (i === response[0].length - 1) {
                  newIcon = new L.Icon({
                  	iconUrl: '../static/img/marker-icon-red.png',
                  	iconSize: [25, 41],
                  	iconAnchor: [12, 41],
                  	popupAnchor: [1, -34],
                  	shadowSize: [41, 41]
                  });
                } else {
                  newIcon = new L.Icon({
                  	iconUrl: '../static/img/marker-icon-blue.png',
                  	iconSize: [25, 41],
                  	iconAnchor: [12, 41],
                  	popupAnchor: [1, -34],
                  	shadowSize: [41, 41]
                  });
                }

                var marker = L.marker([response[0][i].stop_lat, response[0][i].stop_lon], { icon: newIcon });

                marker.bindPopup(
                  `<b>Matkan tunniste: </b>${trip_id}<br />
                  <b>Määränpää: </b>${trip_headsign}<br /><br />

                  <b>Pysäkkiketju: </b>${response[0][i].stop_sequence}<br />
                  <b>Taitettu matka: </b>${distance}km<br />
                  <b>Saapumisaika: </b>${aHours}:${aMinutes}<br />
                  <b>Lähtöaika: </b>${dHours}:${dMinutes}<br/><br />

                  <b>Pysäkin tunniste: </b>${response[0][i].stop_id}<br />
                  <b>Pysäkin nimi: </b>${response[0][i].stop_name}<br />
                  <b>Lat-koordinaatti: </b>${response[0][i].stop_lat}<br />
                  <b>Lon-koordinaatti: </b>${response[0][i].stop_lon}<br />`
                );
                latlngs.push(marker.getLatLng());

                if (i === 0 || i === response[0].length - 1) {
                  marker.addTo(startEndMarkers);
                } else {
                  markers.addLayer(marker);
                }

              }

              polyline = L.polyline(latlngs, { color: '#337ab7', smoothFactor: 0.1 }).addTo(map);
              map.fitBounds(polyline.getBounds());

              map.addLayer(markers);
              map.addLayer(startEndMarkers);

              $("#map").show();
            }
          },

          error: (jqXHR, textStatus) => {
            if (textStatus === "timeout") {
                alert("Pyynnössä kesti liian kauan");
            } else {
                alert("Tietojen hakemisessa tapahtui virhe");
            }
          }
        });
      }

      function getDates(trip_id) {
        $.ajax({
          url: "/tripDates",
          type: "POST",
          data: { tripID: trip_id },
          timeout: TIMEOUT,
          cache: false,

          success: (res) => {
            console.log('Kysely onnistui!');
            response = JSON.parse("[" + res + "]");
            console.log(response);

            if (response[0].length !== 0) {
              $('#calendarModal').modal('show');
              $('#calendarModalBody').empty();

              var firstYear = moment(response[0][0].date).get('year'); var firstMonth = moment(response[0][0].date).get('month') + 1;
              var lastYear = moment(response[0][response[0].length - 1].date).get('year'); var lastMonth = moment(response[0][response[0].length - 1].date).get('month') + 1;
              var dayNames = ['ma', 'ti', 'ke', 'to', 'pe', 'la', 'su'];
              var monthNames = ['Tammikuu', 'Helmikuu', 'Maaliskuu', 'Huuhtikuu', 'Toukokuu', 'Kesäkuu', 'Heinäkuu', 'Elokuu', 'Syyskuu', 'Lokakuu', 'Marraskuu', 'Joulukuu'];
              var table = document.getElementById('calendarModalBody');

              for (year = 0; year <= (lastYear - firstYear); year++) {
                table.innerHTML += `<table id="calendarTable"><thead id="calendarHead${year}"></thead><tbody id="calendarBody${year}"></tbody></table>`

                $(`#calendarHead${year}`).append(
                  `<tr id="${firstYear + year}"><th id="headInfo">${firstYear + year}</th></tr>`
                )

                for (j = 0; j < 38; j++) {
                  $(`#${firstYear + year}`).append(`<th>${dayNames[j % dayNames.length]}</th>`)
                }

                for (m = firstMonth - 1; m < lastMonth; m++) {
                  var currentMonth = moment().year(firstYear + year).month(m);
                  var monthDates = response[0].filter((date) => {
                    var currentDate = moment(date.date);
                    if (currentDate >= currentMonth.startOf('month') && currentDate <= currentMonth.endOf('month')) {
                      return true;
                    }

                    return false;
                  });

                  console.log('monthDates', monthDates);

                  if (monthDates.length !== 0) {
                    $(`#calendarBody${year}`).append(`<tr id="${m}${year}"><td id="bodyInfo">${monthNames[m]}</td></tr>`)

                    var offCount = 0;
                    for (i = 1; i < 39; ) {
                      if (i >= currentMonth.startOf('month').day() && i <= (currentMonth.endOf('month').get('date') + offCount)) {
                        foundCount = 0;
                        for (j = 0; j < monthDates.length; j++) {
                          var date = moment(monthDates[j].date).format('YYYY-MM-DD');
                          var cdate = moment(currentMonth.date(i - offCount)).format('YYYY-MM-DD');

                          if (moment(date).isSame(cdate)) {
                            $(`#${m}${year}`).append(`<td id="markedDate">${i - offCount + foundCount}</td>`)
                            foundCount++;
                            i++
                            break;
                          }
                        }

                        if (foundCount === 0) {
                          $(`#${m}${year}`).append(`<td id="unMarkedDate">${i - offCount}</td>`)
                          i++;
                        }
                      } else {
                        $(`#${m}${year}`).append(`<td id="blank"></td>`)
                        offCount++;
                        i++;
                      }
                    } // end of for day
                  } // end of if

                } // end of for month
              } // end of for year
            } else {
              $('#calendarModal').modal('hide');
              alert('Reitin aikoja ei löytynyt!');
            }
          },

          error: (jqXHR, textStatus) => {
            if (textStatus === "timeout") {
                alert("Pyynnössä kesti liian kauan");
            } else {
                alert("Tietojen hakemisessa tapahtui virhe");
            }
          }
        });
      }
    </script>
  </body>
</html>
